BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 80
MaxEmptyLinesToKeep: 1


# Force break after function '('
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false

# Force newline after '(' in declarations
PenaltyBreakBeforeFirstCallParameter: 1
AlignAfterOpenBracket: BlockIndent

BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never

IncludeBlocks: Regroup
SortIncludes: true